
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<div class="alert alert-danger text-center">
   <h1>Oooooopppsss!</h1>
   <h2>
    Bu Sayfaya Erişim İzniniz Yoktur. 
   </h2>
    <h3>
        Bir yanlışlık olduğunu düşünüyorsanız Admin ile görüşünüz.
    </h3>
</div>

