@model Asp.Net_Core_Identity.ViewModel.PasswordChangeViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h1>ChangePassword</h1>
<hr />
@if (ViewBag.success == true)
{
    <div class="alert alert-success">
        Şifreniz başarıyla güncellenmiştir.
    </div>
}
else
{
    <h4>PasswordChangeViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PasswordOld" class="control-label"></label>
                    <input asp-for="PasswordOld" class="form-control" />
                    <span asp-validation-for="PasswordOld" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordNew" class="control-label"></label>
                    <input asp-for="PasswordNew" class="form-control" />
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm" class="control-label"></label>
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
               
            </form>
        </div>
    </div>
}
 

