@model Asp.Net_Core_Identity.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.status == "successfull")
{
    <div class="alert alert-success">
        <h4>
            Şifre sıfırlama maili gönderildi. Mail adresinizi kontrol ediniz.
        </h4>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Şiremi Unuttum</h1>

            <hr />
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Mail Gönder" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}



